.header {
  overflow: hidden;
  background-color: #b8c0f5;
  padding: 0px 0px 0px 0px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.title {
  font-size: 20px;
  font-weight: bold;
  float: left;
}

/* Style the header links */
.header a {
  float: right;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: white;
  color: #6d75a8;
}
