.App {
  font-size: 16px;
  min-height: 100vh;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  background-color: #cedeb1;
}

.header-content {
  margin-right: 20px;
}

/* Style the header links */

.header {
  overflow: hidden;
  background-color: #939e7e;
  padding: 0px 0px 0px 0px;
}

.header a {
  float: right;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: white;
  color: #939e7e;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

.movieWrapper,
.bookWrapper {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.MovieListingCard,
.BookListingCard {
  padding: 20px;
  background-color: #939e7e;
  border-radius: 10px;
  flex-basis: 220px;
}

.MovieListingCard img,
.BookListingCard img {
  position: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  width: 220px;
  height: 300px;
}

.MovieListingCard h2,
.BookListingCard h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  text-align: center;
}

.BookCard,
.MovieCard {
  margin-left: auto;
  margin-right: auto;
  margin: 20px;
  padding: 20px;
  background-color: #939e7e;
  border-radius: 10px;
  display: flex;
}
.BookCard .Image,
.MovieCard .Image {
  padding: 20px;
  display: flex;
}

.BookCard .Image img,
.MovieCard .Image img {
  width: 280px;
  height: 420px;
}

.BookCard .Content,
.MovieCard .Content {
  margin-left: auto;
  margin-right: auto;
}
